nav.navbar.navbar-dark.bg-dark
  a(style='color:lightgrey').navbar-brand Tournament
  form.form-inline
    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Login
    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Registration
